<?xml version="1.0" encoding="UTF-8"?>
<Configuration packages="org.erc.log4j2.layout">
  <Appenders>
    <Console name="Console">
<!-- 
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
-->
      <JSONLog4j2Layout singleLine="true" />
    </Console>
  </Appenders>
  <Loggers>
    <Root level="DEBUG">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>